/* Reset một số styles mặc định */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.pets-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}


/* .searchBar .rectangles:last-child {
  margin-right: 0;
  /* Loại bỏ margin bên phải của hình chữ nhật cuối cùng */

/* Footer styles có thể được giữ nguyên */
/* Footer */
footer {
  background-color: #B2D9D8;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  /* Đẩy footer xuống cuối trang */
}

footer p {
  margin: 5px 0;
}

footer img {
  width: 50px;
  height: auto;
}