body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar {
  width: 130px;
  background-color: #f8f9fa;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  color: #6c757d;
}

.icon {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
}

.sidebar-item span {
  font-size: 16px;
  text-align: center;
}

.sidebar-item:hover, .sidebar-item.active {
  background-color: #F2F2FD;
  color: #007bff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar-item span {
    display: none;
  }

  .icon {
    margin-bottom: 0;
  }
}
